.ui-master-detail .ui-breadcrumb > div {
    width: auto !important;
}

.ui-master-detail .ui-breadcrumb ul li {
    height: 22px;
}

.ui-master-detail .ui-breadcrumb ul li a {
    font-size: 1.1em;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: -1px;
}

.ui-master-detail .ui-breadcrumb ul li.first a {
    height: auto !important;    
    width: auto !important;
    background: none;
    padding-right: 3px;
    margin-top: -1px;
    text-indent: 0.5em;
}

.ui-master-detail .ui-breadcrumb ul li a:hover {
    text-decoration: underline;
}

.ui-master-detail .ui-breadcrumb ul li img {
    border: none;
}

.ui-master-detail .ui-master-detail-level {
    margin-top: 15px;
}