.ui-fab {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1000000000;
}
.ui-fab.ui-state-active {
    border: 0;
}

.ui-fab-main.ui-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    z-index: 2;
    border: 0;
}

.ui-fab .ui-icon {
    position: absolute;
    text-align: center;
    left: 0;
}

.ui-fab-main {
    cursor: pointer;
}

.ui-fab-main .ui-icon {
    font-size: 28px;
    width: 56px;
    height: 56px;
    line-height: 56px;
}

.ui-fab-main .ui-icon {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    transition-property: opacity, transform;
}

.ui-fab-double .ui-icon-0 {
    opacity: 1;
    transform: rotate(0deg)
}
.ui-state-active .ui-fab-double .ui-icon-0 {
    opacity: 0;
    transform: rotate(180deg)
}

.ui-fab-double .ui-icon-1 {
    opacity: 0;
    transform: rotate(-180deg)
}
.ui-state-active .ui-fab-double .ui-icon-1 {
    opacity: 1;
    transform: rotate(0deg)
}

.ui-fab ul {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    bottom: 56px;
    display: flex;
    flex-direction: column-reverse;
}

.ui-fab li {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    flex: 0 0 auto;
    list-style-type: none;
    position: relative;
    margin: 0 9px -40px 9px;
    border: 0;
    transform: scale(0.5);
    transform-origin: center;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    transition-property: margin, transform;
}
.ui-fab.ui-state-active li {
    margin-bottom: 10px;
    transform: scale(1);
}

.ui-fab li .ui-icon {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.ui-fab.ui-state-active li a {
    outline: none;
    color: inherit;
}

.ui-fab li .ui-menuitem-text {
    background: #666;
    color: #fff;
    padding: 3px 10px;
    position: absolute;
    right: 50px;
    top: 7px;
    white-space: nowrap;
    display: none;
    border-radius: 3px;
}
.ui-fab.ui-state-active li:hover .ui-menuitem-text {
    display: block;
}
