/* Use PF theme font */
body .sun-editor,
body .sun-editor-editable {
    font-family: var(--font-family);
}

/* Inline mode in dialogs */
.ui-dialog div.se-toolbar.sun-editor-common.se-toolbar-inline {
    top: 0px !important;
}

/* Hide input */
body div.se-container > input {
    border: 0;
    padding: 0;
    margin: -1px;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    transform: scale(0);
}