.ui-inputpin > .ui-inputpin-cell {
    width: 2rem;
    text-align: center;
}

.ui-inputpin > .ui-inputpin-cell:not(:last-child) {
    margin-right: 0.2rem;
}

.ui-inputpin > .ui-inputpin-cell:not(:first-child) {
    margin-left: 0.2rem;
}
