<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

	<description>PrimeFaces Extensions Showcase</description>

	<!-- Load custom tag into JSF web application -->
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/showcase.taglib.xml</param-value>
	</context-param>

	<!-- Context parameters - JSF -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>-1</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.VALIDATE_EMPTY_FIELDS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>

	<!-- Context parameters - Mojarra -->
	<context-param>
		<param-name>com.sun.faces.resourceUpdateCheckPeriod</param-name>
		<param-value>-1</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.allowTextChildren</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.defaultResourceMaxAge</param-name>
		<param-value>1209600000</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.enableMissingResourceLibraryDetection</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
		<param-value>5</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.serializeServerState</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- Context parameters - Primefaces & Extensions -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>#{empty userSettings ? 'omega' : userSettings.currentTheme.name}</param-value>
	</context-param>
	<!-- enabled FontAwesome -->
	<context-param>  
		<param-name>primefaces.FONT_AWESOME</param-name>  
		<param-value>true</param-value>  
	</context-param>
	<!-- enable script collecting and moves all script to end of body -->
	<context-param>  
		<param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>  
		<param-value>true</param-value>  
	</context-param>
	<!-- Content Security Policy -->
	<context-param>  
		<param-name>primefaces.CSP</param-name>  
		<param-value>false</param-value>  
	</context-param>

	<!-- Context parameters - OmniFaces -->
	<context-param>
		<param-name>org.omnifaces.COMBINED_RESOURCE_HANDLER_DISABLED</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Enable PostConstruct on JSF ManagedBeans on Jetty -->
	<context-param>
		<param-name>org.apache.myfaces.config.annotation.LifecycleProvider</param-name>
		<param-value>org.apache.myfaces.config.annotation.NoInjectionAnnotationLifecycleProvider</param-value>
	</context-param>

	<listener>
		<listener-class>org.apache.webbeans.servlet.WebBeansConfigurationListener</listener-class>
	</listener>
	<listener>
		<listener-class>${jsf-listener}</listener-class>
	</listener>

	<!-- UTF-8 Encoding filter over the default ISO-8859-1. -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.omnifaces.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Apply GZIP compression on responses whenever applicable -->
	<filter>
		<filter-name>GzipResponseFilter</filter-name>
		<filter-class>org.omnifaces.filter.GzipResponseFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GzipResponseFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<!-- No Cache Filter -->
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<!-- Session timeout -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- Welcome files -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<mime-mapping>
		<extension>xhtml</extension>
		<mime-type>application/xhtml+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>otf</extension>
		<mime-type>font/opentype</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>application/x-font-ttf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/x-font-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff2</extension>
		<mime-type>application/x-font-woff2</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/x-icon</mime-type>
	</mime-mapping>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/views/error/throwable.jsf</location>
	</error-page>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/views/error/viewExpired.jsf</location>
	</error-page>
</web-app>
