.pe-timepicker, body .pe-timepicker.ui-spinner {
    display: inline-flex;
}

body .pe-timepicker .ui-inputfield {
    text-align: left;
    box-sizing: border-box;
}

.pe-timepicker-trigger .ui-icon-clock {
    left: 50%;
}

body .ui-button-icon-only.pe-timepicker-trigger {
    flex: 0 0 28px;
}

.pe-timepicker.ui-spinner.ui-inputgroup .ui-spinner-button {
    right: 29px;
}

body .ui-timepicker {
    z-index: 999;
}

body .ui-timepicker-table {
    background-color: var(--surface-f, #fff);
    border-collapse: collapse;
    outline: 1px solid var(--surface-d, #ced4da);
}

body .ui-timepicker-table > tbody {
    border: .5rem solid var(--surface-f, #fff);
}

body .ui-timepicker-table td {
    padding: .5rem;
}

body .ui-timepicker .ui-timepicker-table td a {
    display: inline-block;
    color: var(--text-color, #333);
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
}

body .ui-timepicker .ui-timepicker-table td a:hover {
    background-color: var(--surface-c, #f8f8f8);
}

body .ui-timepicker .ui-timepicker-table td a.ui-state-default.ui-state-active {
    color: var(--surface-f, #fff);
    background-color: var(--primary-color, #3373a0);
}

body .ui-timepicker .ui-timepicker-title {
    padding: 0 1em;
    color: var(--text-color, #333);
    background-color: var(--surface-a, #fff);
}

body .ui-timepicker td.ui-timepicker-hours,
body .ui-timepicker td.ui-timepicker-minutes {
    vertical-align: top;
    padding: .5rem;
}

body .ui-timepicker td.ui-timepicker-minutes {
    border-left: 1px solid var(--surface-d, #3373a0);
}

.ui-timepicker-table th.periods {
    color: var(--text-color, #333);
}

body .ui-timepicker .ui-icon,
body .pe-timepicker-trigger .ui-icon {
    font-family: 'primeicons', sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .pe-timepicker-trigger .ui-icon-clock:before {
    content: "\e940";
}

body .ui-timepicker .ui-icon-triangle-1-n:before {
    content: "\e933";
}

body .ui-timepicker .ui-icon-triangle-1-s:before {
    content: "\e930";
}
