.pe-timepicker .ui-inputfield {
    text-align: left;
    width: 4rem;
}

.pe-timepicker-trigger .ui-icon-clock {
    left: 50%;
}

.pe-timepicker-trigger {
    width: 1.9rem;
    height: 1.8rem;
}

.pe-timepicker.ui-spinner.ui-inputgroup {
    display: flex;
}

.pe-timepicker.ui-spinner.ui-inputgroup .ui-spinner-button {
    right: 1.9rem;
}

.ui-timepicker-table {
    background-color: #ffffff;
    border: 1px solid #a6a6a6;
    padding: 0.857em;
}

.ui-timepicker-table td {
    padding: 0.286em;
}

body .ui-timepicker-table td a {
    color: #333333;
    padding: 0.286em;
}

body .ui-prime-icons .ui-icon {
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body .ui-prime-icons .ui-icon-clock:before {
    content: "\e940";
}

body .ui-prime-icons .ui-icon-triangle-1-n:before {
    content: "\e933";
}

body .ui-prime-icons .ui-icon-triangle-1-s:before {
    content: "\e930";
}
