.ui-timeline-selectable div.timeline-event {
    cursor: pointer;
}

.ui-timeline-selectable div.timeline-event-content {
    cursor: pointer;
}

div.timeline-event-selected div.timeline-event-content {
    cursor: move;
}