.pe-dynaform-grid {
    margin: 0;
    padding: 0;
    border-collapse : collapse;
    border-spacing: 0;
    width: 1%;
}

.pe-dynaform-cell {
    text-align: left;
    vertical-align: middle;
    padding: 2px 20px 2px 0;
}

.pe-dynaform-cell-last {
    padding: 2px 0 2px 0;
}

.pe-dynaform-label {
    text-align: right;
    vertical-align: middle;
    padding: 2px 7px 2px 0;
    white-space: nowrap;
    width: 1%;
}

.pe-dynaform-label .pe-dynaform-label-rfi {
    margin-left: 0.4em;
}

.pe-dynaform-buttonbar-top {
    text-align: right;
    vertical-align: middle;
    padding: 0 0 10px 0;
    white-space: nowrap;
}

.pe-dynaform-buttonbar-bottom {
    text-align: right;
    vertical-align: middle;
    padding: 10px 0 0 0;
    white-space: nowrap;
}

.pe-dynaform-headerfacet {
    text-align: left;
    vertical-align: middle;
    padding: 2px 0 2px 0;
}

.pe-dynaform-footerfacet {
    text-align: left;
    vertical-align: middle;
    padding: 2px 0 2px 0;
}
