.pe-dynaform-grid {
    margin: 0;
    padding: 0;
    border-collapse : collapse;
    border-spacing: 0;
    width: auto;
}

.pe-dynaform-cell {
    text-align: left;
    vertical-align: middle;
    padding: 2px 10px 2px 0;
    white-space: nowrap;
}

.pe-dynaform-cell[colspan] input,
.pe-dynaform-cell[colspan] textarea,
.pe-dynaform-cell[colspan] select {
    width: 100%;    
}

/* for IE8 because it thinks all td elements have a colspan */
.pe-dynaform-cell[colspan="1"] input,
.pe-dynaform-cell[colspan="1"] textarea,
.pe-dynaform-cell[colspan="1"] select {
    width: auto;    
}

.pe-dynaform-cell-last {
    padding: 2px 0 2px 0;
}

.pe-dynaform-label {
    text-align: right;
    vertical-align: middle;
    padding: 2px 7px;
    white-space: nowrap;
}

.pe-dynaform-label .pe-dynaform-label-rfi {
    margin-left: 0.4em;
}

.pe-dynaform-label .ui-state-error {
    border: none;
    padding: 3px;
}

.pe-dynaform-buttonbar-top {
    text-align: right;
    vertical-align: middle;
    padding: 0 0 12px 0;
    white-space: nowrap;
}

.pe-dynaform-buttonbar-bottom {
    text-align: right;
    vertical-align: middle;
    padding: 12px 0 0 0;
    white-space: nowrap;
}

.pe-dynaform-headerfacet {
    text-align: left;
    vertical-align: middle;
    padding: 2px 0 2px 0;
}

.pe-dynaform-footerfacet {
    text-align: left;
    vertical-align: middle;
    padding: 2px 0 2px 0;
}
