body {
    margin: 4px !important;
}

body > .ui-layout-north {
    background: none;
    border: none;
    color: #000000;
    padding: 4px;
    overflow: hidden;
}

body > form > .ui-layout-south {
    background: none;
    border: none;
    color: #000000;
    overflow: hidden;
    vertical-align: middle;
    font-size: 11px !important;
    font-weight: bold;
    white-space: nowrap;
}

#headerForm .logo {
    position: relative;
    float: left;
    top: -3px;
    height: 55px;
}

#componentList,
#useCaseList {
    border-width: 0;
    background: none;
    white-space: nowrap;
}

#componentList .ui-menuitem-link,
#useCaseList .ui-menuitem-link {
    padding: 0.10em;
}

#componentList .ui-menuitem-text {
    width: 60px;
}

#componentList .ui-separator {
    margin: 5px 0;
    width: 120%;
}

#useCaseList .ui-menuitem {
    width: auto !important;
}

#useCaseList .ui-menuitem-text {
    padding-left: 3px;
}

#useCaseList .ui-menuitem-link {
    width: 115%;
}

.docuTable {
    line-height: 1.3 !important;
}

.docuTable table,
.docuEventTable table {
    width: auto !important;
    table-layout: auto !important;
}

.docuTable thead th,
.docuTable tbody td,
.docuTable tfoot td {
    word-break: normal;
}

.docuCaption {
    vertical-align: middle;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 1px;
}

.docuEventCaption {
    vertical-align: middle;
    text-align: center;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 1px;
}

#docuTabView {
    padding: 0;
    border: none;
}

#docuTabView .ui-tabs-panel {
    padding: 1em 0;
}

div.centerContent {
    padding: 15px;
    font-size: 13px;
}

div.centerExample {
    padding: 0 15px 0 15px;
}

div.source {
    margin: 15px;
    font-weight: bold;
    font-size: 13px;
}

#sourceTabView .ui-tabs-panel {
    padding: 0em 1em;
}

.smallNav {
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: -10px;
    *margin-top: -41px; /* shows in IE7 and below */
}

.smallNav td {
    font-size: 11px;
}

.smallNav .smallNavImg {
    color: #D61F27 !important;
    font-weight: bold;
    border: none;
    font-size: 10px;
    padding-right: 4px;
    padding-top: 2px;
}

.smallNav .smallNavText {
    color: #4F4F4F !important;
    font-size: 11px;
    vertical-align: middle;
    padding-right: 4px;
    padding-top: 4px;
}

.smallNav .smallNavText a {
    color: #4F4F4F !important;
    text-decoration: none;
    border-bottom: dotted 1px #4F4F4F !important;
}

.smallNav .smallNavText a:hover {
    color: blue !important;
    border-bottom: dotted 1px blue !important;
}

.developersCol1 {
    padding: 2px 10px 2px 5px;
    text-align: right;
}

.developersCol2 {
    padding: 2px;
    text-align: left;
}

.ui-icon-none {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-image: none !important;
}

.ui-icon-new-comp {
    background-image: url("#{resource['images/new.png']}") !important;
    margin-right: 3px;
}

.ui-icon-updated-comp {
    background-image: url("#{resource['images/updated.png']}") !important;
    margin-right: 3px;
}

.ui-icon-deprecated-comp {
    background-image: url("#{resource['images/deprecated.png']}") !important;
    margin-right: 3px;
}

#logo-link {
    background-image:url("#{resource['images/logo.png']}");
    display:block;
    height:55px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:250px;
    background-size: 250px 55px;
}

#homepage-link {
    background-image:url("#{resource['images/bookmark-home.png']}");
    display:block;
    height:24px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:28px;
}

#github-link {
    background-image:url("#{resource['images/bookmark-github.png']}");
    display:block;
    height:24px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:24px;
}

#issues-link {
    background-image:url("#{resource['images/bookmark-issues.png']}");
    display:block;
    height:24px;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
    width:24px;
}
