.ui-letteravatar {
  position: relative;
  display: inline-block;
  text-align: center;
}
.ui-letteravatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  left: 0;
}
.ui-letteravatar-rounded, .ui-letteravatar-rounded img {
  border-radius: 50%;
}
.ui-letteravatar .ui-letteravatar-initials {
  position: relative;
  line-height: 1;
  mix-blend-mode: difference;
}
