/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 15px 0.5em 0.5em 30px;
    font-size: 11px;
    line-height: 16px;
    background: #f6f6ae url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9sAAAAQCAYAAAAGTmw2AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAF4SURBVHja7N27TsMwFAZgu0WMDPRB2HloFl6Ch0DqysJIJSTIoaUSapPYcdoOqPq+JerFlxxHlf+lzpvNU5fmiNhfc25vs0453W2vq30PCQAAAK7YzS42z2qR87ljZmUHAADgmi2UAAAAAIRtAAAAELYBAABA2AYAAACEbQAAABC2AQAAQNg+kwO/AAAAELYvLBQbAAAAYRsAAAAQtgEAAEDYBgAAAGH7ZN+KDQAAgLAtbAMAAMAJ8sv7Z+P/hO/O7orfa/yd4xWDz47f33/28PacPm5X6fX+saHd4Rlh0Ru/JirfiF4fpXEO5xNNYw77GXsdE/dQqkFtni391+5lWNsYXZNzHK7JvLWcfjZKfdZqPVXn47Y5dSnnzq8EDY/69pnJjlyw1uaLtVGL67rniN2+fzGSCfr7sNTbS03tq6OQNVr6LbVLM8avzSEaxijtJ1Nh/LG8kWaMn0b2qsPvLfNXNRFdQhfLGTX7L894y1xOXZe6HwEGAEeJamT41YtiAAAAAElFTkSuQmCC');
    border-top: solid 2px #d2e8b9;
    border-bottom: solid 1px #d2e8b9;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
    color: #005599;
    font-weight: bold;
}

.hljs,
.hljs-subst {
    color: #3e5915;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute,
.hljs-built_in,
.hljs-builtin-name,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link {
    color: #2c009f;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
    color: #e60415;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}
