/* Custom CSS to make EasyMDE play nice with PrimeFaces colors */

/* Remove padding so it does not have rounded corners */
.EasyMDEContainer.ui-inputfield.ui-inputtextarea {
    padding: 0;
}

.EasyMDEContainer .CodeMirror {
    color: var(--text-color);
    border-color: var(--surface-border);
    background-color: var(--surface-section);
}
.EasyMDEContainer .cm-s-easymde .CodeMirror-cursor {
    border-color: var(--text-color);
}

.CodeMirror-cursor {
    border-left:1px solid var(--text-color);
    border-right:none;width:0;
}

.EasyMDEContainer .editor-toolbar > * {
    border-color: var(--surface-section);
}

.editor-toolbar {
    border-top: 1px solid var(--surface-border);
    border-left: 1px solid var(--surface-border);
    border-right: 1px solid var(--surface-border);
}

.editor-toolbar i.separator {
    border-left: 1px solid var(--surface-border);
    border-right: 1px solid var(--surface-border);
}

.EasyMDEContainer .editor-toolbar > .active, .editor-toolbar > button:hover, .editor-preview pre, .cm-s-easymde .cm-comment,
.CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler {
    background-color: var(--surface-section);
}

.EasyMDEContainer .CodeMirror-fullscreen {
    background: var(--surface-section);
}
.editor-toolbar.fullscreen {
    background: var(--surface-section);
}

.editor-preview {
    background: var(--surface-section);
}

.editor-preview-side {
    border-color: var(--surface-border);
}

.CodeMirror-selected,
.EasyMDEContainer .CodeMirror-focused .CodeMirror-selected,
.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection,
.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection {
    color: var(--primary-color-text);
    background: var(--primary-color);
}