name: Java CI

on: [ push, pull_request ]

env:
    MAVEN_OPTS: >-
        -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Java ${{ matrix.java }}
    strategy:
      matrix:
        java: [ 11, 17 ]

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-v3-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-v3
      - name: Checkout PrimeFaces
        uses: actions/checkout@v5
        with:
          repository: primefaces/primefaces
          path: primefaces
      - name: Build PrimeFaces
        run: cd primefaces && mvn -U install -Pquick && cd ..
      - name: Log github.ref
        run: echo "${{ github.ref }}"
      - name: Build with Maven
        run: mvn -B -V -U clean install -T1C -Pminify --batch-mode --show-version
      - name: SonarCloud
        if: github.repository =='primefaces-extensions/primefaces-extensions' && github.ref == 'refs/heads/master' && matrix.java == 17
        run: mvn sonar:sonar -Dsonar.projectKey=org.primefaces.extensions:primefaces-extensions-parent -Dsonar.organization=pr1m3fac3sext3ns1ons -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{secrets.SONAR_TOKEN}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  
