name: Deploy Showcase

on:
  push:
    paths-ignore:
      - '**/**.md'
    branches:
      - master
      - 15.X
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'primefaces-extensions/primefaces-extensions'
    name: Build
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-v3-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-v3
      - name: Checkout PrimeFaces
        uses: actions/checkout@v6
        with:
          repository: primefaces/primefaces
          path: primefaces
      - name: Build PrimeFaces
        run: cd primefaces && mvn -U install -Pquick && cd ..
      - name: Build
        run: mvn clean install -T1C -Pminify --batch-mode --show-version
      - name: Build Showcase
        run: mvn clean install -f showcase -P tomee -T1C --batch-mode --show-version
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: showcase/.
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/primefaces-extensions-showcase:${{ github.ref_name }}-latest
      - name: Deploy to DigitalOcean
        uses: digitalocean/app_action/deploy@v2
        with:
          project_id: 39fd6fe0-e781-4d85-824e-c20c56dfbdc6
          app_name: primefaces-extensions-showcase
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          
